/* body */
body{
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/* main heading */
h1{
    color:#2c3e50;
    font-size:48px;
    text-align:center;
    margin-top:40px;
}
/* paragraph */
p{
    color:#555;
    font-size:20px;
}
/* button */
.btn{
    color:white;
    background-color:#3498db;
    padding:12px 25 px;
    font-size:18px;
}
/*about section*/
#about{
    background-color: lightyellow;
}
/*navbar*/
nav{
    background-color: #222;
    padding: 15px;
}
/*website name*/
nav h2{
    color:white;
}